/*Main color: */
:root {
    --main-color: #292f33;
    --secondary-color: #86959b;
}

/* Import Raleway font */
@font-face {
    font-family: 'Raleway';
    src: url('Fonts/Raleway/Raleway.ttf.woff') format('woff'),
    url('Fonts/Raleway/Raleway.ttf.svg#Raleway') format('svg'),
    url('Fonts/Raleway/Raleway.ttf.eot'),
    url('Fonts/Raleway/Raleway.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: var(--main-color);
}

#size {
    padding-top: 10px;
    font-weight: bold;
}

#difficulty {
    font-weight: bold;
    margin-top: 10px;
}

.container {
    font-weight: normal;
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    font-weight: bold;
}

.container input:checked ~ .container {
    background-color: #04B1B1;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

#info {
    background: #726A75;
    border-style: outset;
    border-color: #A095A6 #4A454D #4A454D #A095A6;
    opacity: 90%;
    display: none;
    position: absolute;
    padding: 1%;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    outline: none;
    border: 0;
}

#title {
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: -5%;
    width:100%;
    height:100%;
    position: absolute;
}

#title h1 {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-decoration: none;
    font-size: 25vw;
    opacity: 0.15;
}

#restart {
    margin-top: 10px;
}

#floater {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    position: absolute;
}

#menu .noselect {
    padding-top: 10px;
}

#footer {
    display: flex;
    justify-content: center;
}

#footer .noselect {
    horiz-align: center;
}

#footer .noselect .items {
    padding: 10px;
    color: deepskyblue;

    font-size: 1.5em;
}

#footer {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    bottom: 5%;
    left: 0;
    right: 0;
}

.items {
    font-family: 'Raleway', sans-serif;
    color: white;
    /*text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;*/
    white-space: nowrap;

    display: table;
    font-size: 2.7em;
    margin: auto;
    padding: 1%;

    text-align: center;

    text-decoration: none;
}

#settingsHeader {
    display: flex;
    padding: 5px;
    color: #ffffff;
    background-color: #111112c2;
    align-content: center;
    justify-content: center;
}

#settings {
    font-family: "Raleway";
    font-weight: bold;
    position: absolute;
    top: 7vh;
    left: 7vh;
    visibility: visible;
    opacity: 0.4;
    transition: opacity 0.3s, visibility 0.5s;
    cursor: move;
    z-index: 10;
    background-color: #252a2e;
    color: #fff;
}

#button {
    font-family: "Raleway";
    display: flex;
    align-content: center;
    justify-content: center;
}

#settings:focus {
    visibility: visible;
    opacity: 0.9;
    transition: opacity 0.3s, visibility 0.5s;
}

#settingsPanel {
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: all 0.3s ease;
}

#settingsPanel.active {
    padding: 5px;
    max-height: 600px;
    visibility: visible;
    transition: all 0.3s ease;
}

#settingsPanel.animation .sliderLabel{
    color: #ffffff;
    opacity: 40%;
}

#settingsPanel #zoombuttons {
    display: flex;
    flex-direction: row;
}

#settingsPanel #zoombuttons .button {
    display: inline;
    color: #fff;
    text-align: center;
}

#settingsPanel #zoombuttons .button:first-of-type {
    margin-right: 10px;
}

#settings.vis {
    visibility: visible!important;
    opacity: 0.9!important;
    transition: opacity 0.3s, visibility 0.5s;
}

#settings:hover {
    visibility: visible;
    opacity: 0.9;
    transition: opacity 0.3s ease, visibility ease 0.5s;
}

#settings label {
    margin: 5px;
    transition: all 0.3s ease;
}

#settings .subtext {
    font-style: italic;
    font-weight: lighter;
    font-size: 12px;
    line-height: 15px;
}

#settings .bottomBorder {
    border-bottom: dotted;
    padding-bottom: 15px;
    border-width: 2px;
    margin-bottom: 10px;
    border-color: #5e6265;

}

#settings .button {
    background-color: #79868c;
    border: none;
    -webkit-appearance: none;
    color: #fff;
    padding: 5px;
    width: 100%;
    font-size: 16px;
}

#popup {
    color: white;
    background-color: var(--main-color);
    padding: 10px;
    opacity: 0;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
}

#settingsPanel.animation #animateButton{
    background-color: #487793;
}

#copy {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -99;
}

#popup.active {
    opacity: 0.95;
    visibility: visible;
    transition: all 0.6s ease;
}

input[type=range] {
    -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
    width: 100%; /* Specific width is required for Firefox. */
    background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    margin-top: -3.5px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #15191c;
    border-radius: 3px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #15191c;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: #15191c;
    border-radius: 3px;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

/* Tic Tac Toe */

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
}

#game {
    min-width: 50px;
    min-height: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#cell {
    min-width: 33%;
    min-height: 33%;
    border-width: 2px;
    border-color: white;
    padding: 0;
    margin: -1px;
    cursor: pointer;
    transition: border ease 2s;
}

.top {
    border-bottom: solid;
}

.mid {
    border-top: solid;
    border-bottom: solid;
}

.bottom {
    border-top: solid;
}

.left {
    border-right: solid;
}

.right {
    border-left: solid;
}

.x:before{
    margin-top: 5%;
    margin-left: 15%;
    position: absolute;
    content: "";
    border-radius: 5px;
    border: 5px solid white;
    display: block;
    width: 0px;
    height: 19%;
    transform: rotate(-45deg);
    opacity: 1;
}

.x:after{
    margin-top: 5%;
    margin-left: 15%;
    position: absolute;
    content: "";
    border-radius: 5px;
    display: block;
    border: 5px solid white;
    width: 0px;
    height: 19%;
    transform: rotate(45deg);
    opacity: 1;
}

.o:before {
    margin-top: 8%;
    margin-left: 8%;
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 10px solid;
    display: block;
    color: rgba(255, 255, 255, 1);
    height: 12%;
    width: 12%;
    opacity: 1;
}

.o:after {
    color: rgba(255, 255, 255, 1);
}

.tie {
    transition: all ease 2s;
}

.tie:before {
    transition: all ease 2s;
    border-color: rgba(255, 255, 255, 0.25);
}

.tie:after {
    transition: all ease 2s;
    border-color: rgba(255, 255, 255, 0.25);
}

.lost {
    transition: all ease 2s;
}

.lost:before {
    transition: all ease 2s;
   border-color: rgb(255, 0, 53);
}

.lost:after {
    transition: all ease 2s;
    border-color: rgb(255, 0, 53);
}